[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
confluent-kafka = {version = "==1.1.0", extras = ["avro"]}
pandas = "==0.24.2"
requests = "==2.22.0"
faust = "==1.7.4"
tornado = "==6.0.3"

[dev-packages]

[requires]
python_version = "3.7"
